<div class="cst-ventry-features-main scroll-trigger animate--slide-in">
<div class="cst-ventry-features">
<div class="ventry-features">
  <div class="ventry-wrapper">

    <!-- LEFT SIDE -->
    <div class="ventry-left">
        <div class="ventry-left-lists">
            <ul class="ventry-list">
                <li class="active" data-index="0">{{ section.settings.text1 }}</li>
                <li data-index="1">{{ section.settings.text2 }}</li>
                <li data-index="2">{{ section.settings.text3 }}</li>
                <li data-index="3">{{ section.settings.text4 }}</li>
                <li data-index="4">{{ section.settings.text5 }}</li>        
            </ul>
            <ul class="ventry-list-inner">
                <li data-index="5">{{ section.settings.text6 }}</li>
            </ul>
        </div>
      <div class="ventry-line">
        <div class="ventry-indicator"></div>
      </div>
    </div>


    <!-- MIDDLE TEXT -->
    <div class="ventry-content">

      <div class="ventry-text active">
        {{ section.settings.content1 }}
      </div>

      <div class="ventry-text">
        {{ section.settings.content2 }}
      </div>

      <div class="ventry-text">
        {{ section.settings.content3 }}
      </div>

      <div class="ventry-text">
       {{ section.settings.content4 }}
      </div>

      <div class="ventry-text">
        {{ section.settings.content5 }}
      </div>

      <div class="ventry-text">
        <div class="ventry-colors">
            <span class="color-dot" data-img="0" style="background:#8b1d2c"></span>
            <span class="color-dot" data-img="1" style="background:#cfcfcf"></span>
            <span class="color-dot active" data-img="2" style="background:#333"></span>
        </div>
      </div>

    </div>


    <!-- RIGHT SIDE -->
    
    <div class="ventry-images">
        <div class="ventry-images-top-content">
            <h3>Included Remote</h3>
            <h3>Upgraded Backlit Rechargeable Remote ($25)</h3>
        </div>

        <div class="ventry-images-black" style="display: block;">
            {% if section.settings.image1 != blank %}
                <img class="ventry-img active" data-label="0" src="{{ section.settings.image1 | img_url : 'master' }}" alt="{{ section.settings.image1.alt }}">
            {% endif %}
            {% if section.settings.image2 != blank %}        
                <img class="ventry-img" data-label="1" src="{{ section.settings.image2 | img_url : 'master' }}" alt="{{ section.settings.image2.alt }}" />
            {% endif %}
            {% if section.settings.image3 != blank %}             
                <img class="ventry-img" data-label="2" src="{{ section.settings.image3 | img_url : 'master' }}" alt="{{ section.settings.image3.alt }}" />
            {% endif %}
            {% if section.settings.image4 != blank %}             
                <img class="ventry-img" data-label="3" src="{{ section.settings.image4 | img_url : 'master' }}" alt="{{ section.settings.image4.alt }}" />
            {% endif %}
            {% if section.settings.image5 != blank %}             
                <img class="ventry-img" data-label="4" src="{{ section.settings.image5 | img_url : 'master' }}" alt="{{ section.settings.image5.alt }}" />
            {% endif %}               
        </div>
        <div class="ventry-images-white" style="display: none;">
            {% if section.settings.whiteimage1 != blank %}
                <img class="ventry-img active" data-label="0" src="{{ section.settings.whiteimage1 | img_url : 'master' }}" alt="{{ section.settings.whiteimage1.alt }}">
            {% endif %}
            {% if section.settings.whiteimage2 != blank %}        
                <img class="ventry-img" data-label="1" src="{{ section.settings.whiteimage2 | img_url : 'master' }}" alt="{{ section.settings.whiteimage2.alt }}" />
            {% endif %}
            {% if section.settings.whiteimage3 != blank %}             
                <img class="ventry-img" data-label="2" src="{{ section.settings.whiteimage3 | img_url : 'master' }}" alt="{{ section.settings.whiteimage3.alt }}" />
            {% endif %}
            {% if section.settings.whiteimage4 != blank %}             
                <img class="ventry-img" data-label="3" src="{{ section.settings.whiteimage4 | img_url : 'master' }}" alt="{{ section.settings.whiteimage4.alt }}" />
            {% endif %}
            {% if section.settings.whiteimage5 != blank %}             
                <img class="ventry-img" data-label="4" src="{{ section.settings.whiteimage5 | img_url : 'master' }}" alt="{{ section.settings.whiteimage5.alt }}" />
            {% endif %}               
        </div>
        <div class="ventry-images-red" style="display: none;">
            {% if section.settings.redimage1 != blank %}
                <img class="ventry-img active" data-label="0" src="{{ section.settings.redimage1 | img_url : 'master' }}" alt="{{ section.settings.redimage1.alt }}">
            {% endif %}
            {% if section.settings.redimage2 != blank %}        
                <img class="ventry-img" data-label="1" src="{{ section.settings.redimage2 | img_url : 'master' }}" alt="{{ section.settings.redimage2.alt }}" />
            {% endif %}
            {% if section.settings.redimage3 != blank %}             
                <img class="ventry-img" data-label="2" src="{{ section.settings.redimage3 | img_url : 'master' }}" alt="{{ section.settings.redimage3.alt }}" />
            {% endif %}
            {% if section.settings.redimage4 != blank %}             
                <img class="ventry-img" data-label="3" src="{{ section.settings.redimage4 | img_url : 'master' }}" alt="{{ section.settings.redimage4.alt }}" />
            {% endif %}
            {% if section.settings.redimage5 != blank %}             
                <img class="ventry-img" data-label="4" src="{{ section.settings.redimage5 | img_url : 'master' }}" alt="{{ section.settings.redimage5.alt }}" />
            {% endif %}               
        </div>                
    </div>

  </div>
</div>
</div>
</div>
<style>
  .cst-ventry-features-main{padding: 0px 35px;  }
  .cst-ventry-features{  max-width:1254px;   margin: 0px auto;      
  }
  .ventry-features{
      padding:96px 52px;
      background: linear-gradient(270deg, rgb(235 235 235 / 30%) 0%, rgb(133 133 133 / 20%) 132.7%);
      border-radius: 67px;
  }

  .ventry-wrapper{
      display:flex;
      gap:40px;
      position: relative;
  }

  .ventry-left{
      display:flex;
      align-items:flex-start;
      justify-content: space-between;
      max-width: 250px;
      width: 100%;
  }

  .ventry-list{
      list-style:none;
      padding:0;
      margin:0;
      width: 100%;
  }
  .ventry-line:before {
      content: "";
      border: 1px solid #000000;
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      position: absolute;
      left: -4px;
      top: -10px;
  }
  .ventry-line:after {
      content: "";
      border: 1px solid #000000;
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      position: absolute;
      left: -4px;
      bottom: -10px;
  }
  ul.ventry-list-inner {
      margin: 0px;
      padding: 0px;
      list-style: none;
  }
  .ventry-list-inner li,
  .ventry-list li{
      margin: 0px 0 18px 0;
      cursor: pointer;
      font-size: 16px;
      line-height: 100%;
      color: rgba(145, 145, 145, 1);
      font-weight: 700;
      transition:0.3s;
      min-height: 100px;
      max-width: 145px;
  }

  .ventry-list li.active{
      color:#000;
      font-weight:700;
  }

  .ventry-content{ max-width:420px;}
  .ventry-text{
        margin-bottom: 18px;
        color: #8a8a8a;
        transition: 0.3s;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;  
        min-height: 100px;  
    }

    .ventry-text.active{
        display:block;
    }

    .ventry-images img{
      max-width: 400px;
      vertical-align: middle;
      margin: 0 auto;
      width: 100%;
          margin-top: 20px;
    }

    .ventry-text.active{
        color:#000;
        font-weight:500;
    }

    .ventry-images{
        position:relative;
        width:100%;
    }

    .ventry-img{
        position:absolute;
        top: 70px;
        left:0;
        right: 0;
        opacity:0;
        {% comment %} transition:opacity .4s ease; {% endcomment %}
    }
    .ventry-images-top-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .ventry-images-top-content h3 {
        margin: 0px;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0%;
        color: rgba(116, 116, 116, 1);
    }
    .ventry-img.active{
        opacity:1;
    }
    .ventry-line{
        width:1px;
        height:100%;
        background:#000000;
        position:relative;
        border-radius:4px;
        display: block;
    }

    .ventry-indicator{
        position:absolute;
        display: block !important;
        width:18px;
        height:87px;
        background:#888;
        background: linear-gradient(180deg, #5E5E5E 0%, #C4C4C4 80.1%);
        border: 1px solid rgba(48, 48, 48, 1);
        left:-8px;
        top:0;
        border-radius:10px;
        transition:top .35s ease;
    }
    .ventry-colors{
        display:flex;
        gap:10px;
        margin-top:15px;
    }

    .color-dot{
        width:31px;
        height:31px;
        border-radius:50%;
        cursor:pointer;
        border:2px solid transparent;
    }

    .color-dot.active{
        border-color:#000;
    }


    .ventry-text:last-child {
        margin: 0px;
        min-height: unset;
    }

    ul.ventry-list-inner li {
        min-height: unset;
        margin-bottom: 0px;
    }
    {% comment %} .ventry-list li:last-child {
        margin: 0px;
    } {% endcomment %}



    @media(max-width:1600px){
      .ventry-features {
        padding: 60px 40px
      }
      .ventry-text {
        margin-bottom: 10px;
      }
      .ventry-list-inner li, .ventry-list li {
        min-height: 90px;
      }
      .ventry-images img {
        max-width: 350px;
      }
    }



@media(max-width:1024px){
  .ventry-left{
        max-width: 160px;
    }
  .ventry-content {
      max-width: 360px;
  }
}


@media(max-width:989px){ 
    .ventry-features {
        padding: 80px 0px;
        background: transparent;
        border-radius: 0;      
        min-height: 1500px;
        height: 100%;
    }  
    .ventry-left {
        max-width: 100%;
        width: calc(30% - 20px);
    }  
    .ventry-content {
        max-width: 100%;
        width: calc(70% - 20px);
    }  
    .ventry-wrapper {
        gap: 40px;
        flex-wrap: wrap;
        row-gap: 60px;
    }  

}


@media(max-width:768px){ 
  .ventry-list li {
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -3%;
  }  
  .ventry-text p {
      font-weight: 500;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: -3%;
  }
}

@media(max-width:590px){ 
  .ventry-left {
      max-width: 100%;
      width: calc(40% - 12px);
  }
  .ventry-content {
      max-width: 100%;
      width: calc(60% - 12px);
  }    
  .ventry-wrapper {
      gap: 24px;
  }  
  .ventry-features {
      min-height: 1410px;
  }  
  .ventry-images img {
      max-width: 350px;
  }


}

@media(max-width:420px){ 
.ventry-left {
  width: calc(45% - 12px);
}
.ventry-content {
  width: calc(55% - 12px);
}
}

</style>


<script>

{% comment %} document.addEventListener("DOMContentLoaded", function(){

const items = document.querySelectorAll(".ventry-list li");
const texts = document.querySelectorAll(".ventry-text");
{% comment %} const images = document.querySelectorAll(".ventry-img"); {% endcomment %}
const indicator = document.querySelector(".ventry-indicator");
const list = document.querySelector(".ventry-list");

items.forEach((item,index)=>{

item.addEventListener("mouseenter", activate);
item.addEventListener("click", activate);

function activate(){

items.forEach(i=>i.classList.remove("active"));
texts.forEach(t=>t.classList.remove("active"));
{% comment %} images.forEach(img=>img.classList.remove("active")); {% endcomment %}

item.classList.add("active");
texts[index].classList.add("active");
{% comment %} images[index].classList.add("active"); {% endcomment %}

/* Move indicator dynamically */
let top = item.offsetTop;
indicator.style.top = top + "px";

}

});

}); {% endcomment %}



{% comment %} 
 
/* second option */
document.addEventListener("DOMContentLoaded", function(){


/* LIST INTERACTION */
const items = document.querySelectorAll(".ventry-list li");
const texts = document.querySelectorAll(".ventry-text");
const indicator = document.querySelector(".ventry-indicator");

items.forEach((item,index)=>{

item.addEventListener("mouseenter", activate);
item.addEventListener("click", activate);

function activate(){

items.forEach(i=>i.classList.remove("active"));
texts.forEach(t=>t.classList.remove("active"));

item.classList.add("active");
texts[index].classList.add("active");

indicator.style.top = item.offsetTop + "px";

}

});


/* COLOR IMAGE SWITCH */
const colors = document.querySelectorAll(".color-dot");
const images = document.querySelectorAll(".ventry-img");

colors.forEach(color => {

color.addEventListener("click", function(){

colors.forEach(c => c.classList.remove("active"));
images.forEach(img => img.classList.remove("active"));

color.classList.add("active");

let index = color.dataset.img;

images[index].classList.add("active");

});

});

}); {% endcomment %}
{% comment %} hardeep singh {% endcomment %}
document.addEventListener("DOMContentLoaded", function () {

  const items = document.querySelectorAll(".ventry-list li");
  const indicator = document.querySelector(".ventry-indicator");
  const list = document.querySelector(".ventry-list");
  const texts = document.querySelectorAll(".ventry-text");
  const images = document.querySelectorAll(".ventry-images-black .ventry-img");
  const imagesRed = document.querySelectorAll(".ventry-images-red .ventry-img");
  const imagesWhite = document.querySelectorAll(".ventry-images-white .ventry-img");

  let currentIndex = 0;

  // Sync each list item height to its corresponding .ventry-text height
  function syncHeights() {
    items.forEach((item, i) => {
      item.style.minHeight = "";
    });
    texts.forEach((text, i) => {
      text.style.minHeight = "";
    });

    items.forEach((item, i) => {
      if (!texts[i]) return;

      // Measure the natural height of the text block
      const textHeight = texts[i].getBoundingClientRect().height;
      const itemHeight = item.getBoundingClientRect().height;
      const maxH = Math.max(textHeight, itemHeight);

      item.style.minHeight = maxH + "px";
      texts[i].style.minHeight = maxH + "px";
    });
  }

  function moveIndicator(index) {
    if (index < 0) index = 0;
    if (index >= items.length) index = items.length - 1;

    const itemTop = items[index].getBoundingClientRect().top - list.getBoundingClientRect().top;
    indicator.style.top = itemTop + "px";

    items.forEach((el, i) => el.classList.toggle("active", i === index));
    texts.forEach((el, i) => el.classList.toggle("active", i === index));
    images.forEach((el, i) => el.classList.toggle("active", i === index));
    imagesRed.forEach((el, i) => el.classList.toggle("active", i === index));
    imagesWhite.forEach((el, i) => el.classList.toggle("active", i === index));

    currentIndex = index;
  }

  // Hover & click
  items.forEach((item, index) => {
    item.addEventListener("mouseenter", () => moveIndicator(index));
    item.addEventListener("click", () => moveIndicator(index));
  });

  // Scroll wheel
  list.addEventListener("wheel", function (e) {
    e.preventDefault();
    currentIndex += e.deltaY > 0 ? 1 : -1;
    if (currentIndex < 0) currentIndex = 0;
    if (currentIndex >= items.length) currentIndex = items.length - 1;
    moveIndicator(currentIndex);
  });

  // Color dots
  const colorDots = document.querySelectorAll(".color-dot");
  const ventryImageGroups = document.querySelectorAll(".ventry-images-red, .ventry-images-white, .ventry-images-black");

  colorDots.forEach(function (dot, index) {
    dot.addEventListener("click", function () {
      colorDots.forEach(d => d.classList.remove("active"));
      dot.classList.add("active");
      ventryImageGroups.forEach(g => g.style.display = "none");
      if (index === 0) document.querySelector(".ventry-images-red").style.display = "block";
      else if (index === 1) document.querySelector(".ventry-images-white").style.display = "block";
      else if (index === 2) document.querySelector(".ventry-images-black").style.display = "block";
      moveIndicator(currentIndex);
    });
  });

  // Init — sync heights first, then set active state
  syncHeights();
  moveIndicator(0);

  // Re-sync on resize (debounced)
  let resizeTimer;
  window.addEventListener("resize", function () {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(() => {
      syncHeights();
      moveIndicator(currentIndex);
    }, 200);
  });

});


{% comment %} blabla {% endcomment %}
document.addEventListener('DOMContentLoaded', function() {
    const colorDots = document.querySelectorAll('.color-dot');

    const ventryImages = document.querySelectorAll('.ventry-images-red, .ventry-images-white, .ventry-images-black');

    colorDots.forEach(function(colorDot, index) {
        colorDot.addEventListener('click', function() {
            colorDots.forEach(function(dot) {
                dot.classList.remove('active');
            });

            colorDot.classList.add('active');

            ventryImages.forEach(function(image) {
                image.style.display = 'none';
            });

            if (index === 0) {
                document.querySelector('.ventry-images-red').style.display = 'block';
            } else if (index === 1) {
                document.querySelector('.ventry-images-white').style.display = 'block';
            } else if (index === 2) {
                document.querySelector('.ventry-images-black').style.display = 'block';
            }
        });
    });
}); 
</script>


{% schema %}
{
"name": "Ventypro Features",
"settings": [
    { "type": "inline_richtext", "id": "text1", "label": "Text1" },
    { "type": "richtext", "id": "content1", "label": "Content1" },
    { "type": "inline_richtext", "id": "text2", "label": "Text2" },
    { "type": "richtext", "id": "content2", "label": "Content2" },
    { "type": "inline_richtext", "id": "text3", "label": "Text3" },
    { "type": "richtext", "id": "content3", "label": "Content3" },
    { "type": "inline_richtext", "id": "text4", "label": "Text4" },
    { "type": "richtext", "id": "content4", "label": "Content4" },
    { "type": "inline_richtext", "id": "text5", "label": "Text5" },
    { "type": "richtext", "id": "content5", "label": "Content5" },
    { "type": "inline_richtext", "id": "text6", "label": "Text6" },
    { "type": "richtext", "id": "content6", "label": "Content6" },
    { "type": "header", "content": "Block Color Image" },  
    { "type": "image_picker", "id": "image1", "label": "Black Image1" },
    { "type": "image_picker", "id": "image2", "label": "Black Image2" },
    { "type": "image_picker", "id": "image3", "label": "Black Image3" },
    { "type": "image_picker", "id": "image4", "label": "Black Image4" },
    { "type": "image_picker", "id": "image5", "label": "Black Image5" },  
    { "type": "header", "content": "White Color Image" },     
    { "type": "image_picker", "id": "whiteimage1", "label": "White Image1" },
    { "type": "image_picker", "id": "whiteimage2", "label": "White Image2" },
    { "type": "image_picker", "id": "whiteimage3", "label": "White Image3" },
    { "type": "image_picker", "id": "whiteimage4", "label": "White Image4" },
    { "type": "image_picker", "id": "whiteimage5", "label": "White Image5" },
    { "type": "header", "content": "Red Color Image" },  
    { "type": "image_picker", "id": "redimage1", "label": "Red Image1" },
    { "type": "image_picker", "id": "redimage2", "label": "Red Image2" },
    { "type": "image_picker", "id": "redimage3", "label": "Red Image3" },
    { "type": "image_picker", "id": "redimage4", "label": "Red Image4" },
    { "type": "image_picker", "id": "redimage5", "label": "Red Image5" },             

],
"presets": [
  { "name": "Ventypro Features" }
]
}
{% endschema %}