<!-- Start featured-product-tabs  -->
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-color: {{ section.settings.background }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mob }}px;
      padding-bottom: {{ section.settings.padding_bottom_mob }}px;
    }
  }
{%- endstyle -%}



{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
     .product-tab-main {
              display: none;
          }
  .product-tab-main.active {
      display: flex;

  }
    button.product-tab-link-btn.active {
      border: 3px solid rgba(20, 43, 79, 1);
  }
  .product-tab-flex {
      justify-content: center; gap:20px;
        flex-wrap: wrap;
  
  }
    .product-main-inner {
      width: 30%;
  }
    .products-tab-product-title {
      font-family: General Sans;
      font-size: 19px;
      font-weight: 500;
      line-height: 29.7px;
      text-align: left;
      color: rgba(13, 24, 47, 1);
      margin: 10px;
  }
    .products-tab-product-price {
      font-family: General Sans;
      font-size: 19px;
      font-weight: 700;
      line-height: 29.7px;
      text-align: left;
      color: rgba(13, 24, 47, 1);
      margin-left: 10px;
  }
    .products-tab-product-image img {
      width: 100%;
  }
    button#product-tab-btn1 img {
      width: 80px;
  }
  button#product-tab-btn2 img {
      width: 63px;
  }
  button#product-tab-btn3 img {
      width: 82px;
  }
  .product-tab-controls button {
      border: none;
      outline: none;
      background: rgba(241, 242, 244, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border-radius: 15px;
      padding: 5px 29px;
      border: 3px solid transparent;

  }
  .product-tab-controls {
      display: flex;
      justify-content: center;
      gap: 47px;
      margin-bottom: 70px;
  }
  .product-tab-controls h2 {
      margin: 0;
      color: rgba(77, 77, 77, 1);
      font-size: 15px;
      font-weight: 600;
      line-height: 20.91px;
      text-align: left;
  }
  .prdcsts-tabs-main-heading {
      color: rgba(13, 24, 47, 1);
      font-size: 50px;
      font-weight: 500;
      line-height: 70.68px;
      letter-spacing: -0.01em;
      text-align: center;
      margin-bottom: 40px;
  }

.product-tab-flex {
  list-style: none;
   
}

.card__media{
  border-radius: 21px!important;
border: 1.911px solid var(--txt---15, #CCCDCE);

}

.card__inner.color-scheme-2 {
    border-radius: 21px;
}
  
.product-tab-gallery .card__heading{
  color:  #031133;
font-family: "General Sans";
font-size: 21.017px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
  
}

  
.product-tab-gallery .price__container{
  color:#0D182F;
font-family: "General Sans";
font-size: 21.017px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

.product-tab-gallery .product_tile_color_holder {
    display: none;
}

.product-tab-gallery .button--full-width {
    background: #001233;
    color: #fff;
    border-radius: 50px !important;
}

.product-tab-gallery .quick-add__submit {
    min-width:200px !important;
  
}

.product-tab-gallery .quick-add {
    max-width: 200px;

}

.product-tab-gallery .button:not([disabled]):hover:after,
.product-tab-gallery .button:after{
  box-shadow:none;
}

 .product-tab-flex .grid__item  { max-width:23%; }

 

 

@media screen and (max-width:667px) {
  

  .product-tab-main.active { width:100%; }
.product-tab-gallery .quick-add__submit {
    min-width: 142px !important;
}

 .product-tab-flex .grid__item  {        width: 46%; max-width:46%; }

.product-tab-flex { gap:2%; }
  
}


  
  
@media(max-width:1025px){
            .product-tab-controls {
      gap: 20px;
      margin-bottom: 50px;
  }
            button#product-tab-btn1 img {
      width: 65px;
  }
            button#product-tab-btn2 img {
      width: 55px;
  }
            button#product-tab-btn3 img {
      width: 65px;
  }
          }
          @media(max-width:880px){
            .product-main-inner {
      width: 47%;
  }
            .product-tab-controls {
      flex-wrap: wrap;
  }


          }

          @media(max-width:768px){
  .prdcsts-tabs-main-heading {
      font-size: 39px;
  }
          }
          @media(max-width:500px){
    .product-tab-controls button {
      width: 100%;
  }
          .prdcsts-tabs-main-heading {
          font-size: 34px;
          margin-bottom: 20px;
      }
            .product-main-inner {
      width: 100%;
  }

  .product-tab-controls {
 
    margin-bottom: 30px;
}
            
}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding product-tabs-section">
<div class="page-width">
<div class="product-tab-gallery">
<div class="prdcsts-tabs-main-heading">{{ section.settings.mainheading }}</div>
<div class="product-tab-controls">
<button type="button" class="product-tab-link-btn active" id="product-tab-btn1" data-tab="1">
{%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
{%- capture sizes -%}
(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px,
(min-width: 750px) calc((100vw - 130px) / 1), calc((100vw - 50px) / 1)
{%- endcapture -%}  
          
{% if section.settings.tabsimg1 %}
 {%- assign alt =  section.settings.tabsimg1.alt -%} 
{{
section.settings.tabsimg1
| image_url: width: 1500
| image_tag: sizes: sizes, widths: widths,alt:alt
}}    
          {% endif %}
          <h2>{{ section.settings.tab1title }}</h2>
        </button>
        {% if section.settings.tabsimg2 != blank or section.settings.tab2title != blank %}
        <button type="button" class="product-tab-link-btn" id="product-tab-btn2" data-tab="2">
{% if section.settings.tabsimg2 %}
 {%- assign alt =  section.settings.tabsimg2.alt -%}   
{{
section.settings.tabsimg2
| image_url: width: 1500
| image_tag: sizes: sizes, widths: widths,alt:alt

}}   
{% endif %}
          <h2>{{ section.settings.tab2title }}</h2>
        </button>
        {% endif %}
        <button type="button" class="product-tab-link-btn" id="product-tab-btn3" data-tab="3">
          {% if section.settings.tabsimg3 %}
 {%- assign alt =  section.settings.tabsimg3.alt -%}              
{{
section.settings.tabsimg3
| image_url: width: 1500
| image_tag: sizes: sizes, widths: widths,alt:alt

}}   
          {% endif %}
          <h2>{{ section.settings.tab3title }}</h2>
        </button>
      </div>

      <div class="product-tab-flex product-tab-main active" id="product-tab-1">

        {%- for product in section.settings.collection.products limit: 4 -%}
          <div
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} grid--4-col-desktop scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
          </div>
        {% endfor %}       
      </div>
  
<div class="product-tab-flex product-tab-main" id="product-tab-2">

 {%- for product in section.settings.collection2.products limit: 3 -%}
          <div
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
          </div>
        {% endfor %}  
      </div>

      
      <div class="product-tab-flex product-tab-main" id="product-tab-3">  
 
        {%- for product in section.settings.collection3.products limit: 6 -%}
          <div
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
          </div>
        {% endfor %}
      </div>     
    </div>
  </div>
</div>

<!-- End featured-product-tabs  -->
{% schema %}
{
  "name": "Featured Product Tabs",
  "settings": [
    
      {
      "type": "text",
      "id": "mainheading",
      "label": "Main Heading"
    },
    {
      "type": "image_picker",
      "id": "tabsimg1",
      "label": "tab 1 image"
    },
    {
      "type": "text",
      "id": "tab1title",
      "label": "tab 1 Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection 1"
    },
    
    {
      "type": "image_picker",
      "id": "tabsimg2",
      "label": "tab 2 image"
    },
    {
      "type": "text",
      "id": "tab2title",
      "label": "tab 2 Title"
    },
       {
      "type": "collection",
      "id": "collection2",
      "label": "Choose collection 2"
    },
    {
      "type": "image_picker",
      "id": "tabsimg3",
      "label": "tab 3 image"
    },
    {
      "type": "text",
      "id": "tab3title",
      "label": "tab 3 Title"
    },
       {
      "type": "collection",
      "id": "collection3",
      "label": "Choose collection 3"
    },

    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "decription",
      "default": false,
      "label": "Description Show"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 36
    }
  ],
  
  "presets": [
    {
      "name": "Featured Product Tabs",
      "blocks": [
      
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<!-- tabs simple script -->
{% javascript %}
  document.querySelectorAll('.product-tab-link-btn').forEach(button => {
      button.addEventListener('click', () => {
          const tabID = button.getAttribute('data-tab');

          // Remove 'active' class from all buttons
          document.querySelectorAll('.product-tab-link-btn').forEach(btn => btn.classList.remove('active'));

          // Add 'active' class to the clicked button
          button.classList.add('active');

          // Remove 'active' class from all tab content
          document.querySelectorAll('.product-tab-main').forEach(tab => tab.classList.remove('active'));

          // Add 'active' class to the corresponding tab content
          document.getElementById('product-tab-' + tabID).classList.add('active');
      });
  });
{% endjavascript %}
