<!--START  protable-fan-banner  -->
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-color: {{ section.settings.background }};
    height:{{section.settings.heightcstm}}vh;
       background-image: {%- if section.settings.video -%}none{%- else -%}url('{{ section.settings.bgimgdesktop | img_url: 'master' }}'){%- endif -%};
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mob }}px;
      padding-bottom: {{ section.settings.padding_bottom_mob }}px;
    }
  }
{%- endstyle -%}
<style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.full_width -%}
        --section-outer-spacing-block: 0;
      {%- endif -%}

      {%- if section.settings.allow_transparent_header -%}
        margin-block-start: calc(-1 * var(--header-height) * var(--section-is-first));
      {%- endif -%}
    }
 .cozypadbanner{
   position:relative;
 }
  video.videocozypad {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}
.cozypadbanner .page-width {
    height: 100%;
    z-index: 2;
    position: relative;
}
    .custom-banner-content-cozy-pad {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      align-items:flex-end;
  }
  .cozypadbanner h2 {
      font-size: 60px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      font-size: 75px;
      font-weight: 700;    text-transform: uppercase;
      margin: 0;
  }
  .cozypadbanner h3 {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.05em;
      margin: 0;
      color: rgba(255, 255, 255, 1);    text-transform: uppercase;
  }
  .cozypadbanner p {
      font-size: 22px;
      color: rgba(255, 255, 255, 1);
      font-weight: 400;
      letter-spacing: 0.04em;
      margin: 0;
      margin: 0px 0 26px;    text-transform: capitalize;
  }



  @media(max-width:1025px){
  .cozypadbanner h2 {
  }
  }
  @media(max-width:768px){
    .cozypadbanner h2 {
      font-size: 50px;
  }
  }
  @media(max-width:500px){

    .custom-banner-content-cozy-pad { align-items: center; }
    
      }
</style>
<div
  class="section-{{ section.id }}-padding cozypadbanner"
  {% if section.settings.allow_transparent_header %}
    allow-transparent-header
  {% endif %}
>
      {% if section.settings.video %}
        <video class="videocozypad" playsinline muted autoplay loop preload="{% if section.index == 1 %}metadata{% else %}none{% endif %}" poster="{{ section.settings.video.preview_image | image_url: width: 1100 }}">
          {% if section.index == 1 %}
            {{ section.settings.video.preview_image | image_url: width: 1440 | image_tag: preload: true, fetchpriority: 'high' }}
          {% endif %}
          {%- for source in section.settings.video.sources -%}
            <source src="{{ source.url }}" type="{{ source.mime_type }}">
          {%- endfor -%}
        </video>
        {% comment %} {{ section.settings.video | video_tag:  image_size: "1100x", playsinline: true, muted: true, autoplay: true, loop: true, preload: 'metadata', class: 'videocozypad'}} {% endcomment %}
      {% endif %}

  
  <div class="page-width">
    <div class="custom-banner-content-cozy-pad">
     {% if section.settings.subtopheading != blank %} <h3>{{ section.settings.subtopheading }}</h3>{% endif %}
     {% if section.settings.heading != blank %} {{ section.settings.heading }}{% endif %}
      {% if  section.settings.paragraph != blank %}<p>{{ section.settings.paragraph }}</p>{% endif %}

     {% if section.settings.button_text_1 != blank %} 
       <a class="btn-benefit-wrapper" href="{{ section.settings.button_link_1 }}">
        {{ section.settings.button_text_1 }}
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0613/3297/9961/files/Right_25.png">
        </span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
<!--END  protable-fan-banner  -->
{% schema %}
{
  "name": "Protable Fan Banner",
  "class": "protable-fan-banner-main",
  "settings": [
     {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": true
    },
    {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
  
    {
      "type": "range",
      "id": "heightcstm",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vh",
      "label": "Height",
      "default": 36
    },
    {
      "type": "image_picker",
      "id": "bgimgdesktop",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "subtopheading",
      "label": "Sub Heading Top"
    }, {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    }, {
      "type": "text",
      "id": "paragraph",
      "label": "paragraph"
    },

    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button Url 1"
    },

    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 36
    }
  ],

  "presets": [
    {
      "name": "Protable Fan Banner"
    }
  ]
}
{% endschema %}